$mainColor:deeppink;
$footColor:rgb(255,201,150);
$radiantColor: radial-gradient(circle, rgba(255,201,150,1) 12%, rgba(244,190,97,1) 50%, rgba(226,183,235,1) 100%);

//fonts

$mainFont:'Maven Pro', sans-serif;